body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.galeria img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-conteudo {
    margin: 5% auto;
    display: block;
    width: 80%; 
    max-width: 700px;
}

.fechar {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.descricao-imagem {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    border-radius: 5px; 
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.esquerda {
    left: 20px;
}

.direita {
    right: 20px;
}